@import 'src/style/_variables';
@import 'src/style/_mixins';

.wizard-container {
    height: $app-content-max-height;
    max-height: $app-content-max-height;
    background: $content-bg-color;
    display: flex !important;
    flex-direction: column;

    padding: 0 5% 2% 5%;
    .header-container {
        flex: 0 1 15%;
        
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .header {
            flex: 0 1 25%;
            margin: 0;
        }

        .steps-container {
            flex: 0 1 75%;
            margin: 0;
        }

        .icon {
            cursor: pointer;
        }
    }

    .content-container {
        flex: 0 1 75%;
        padding: 2% 0% 0% 0%;
        overflow-y: auto;

        display: flex;
    }

    .footer-container {
        flex: 0 1 10%;
        align-self: flex-end;
        margin-top: auto;
        
        padding: 10px 0 0 0;
        display: flex;

        .button {
            max-height: 40px;
        }
    }
}