@import 'src/style/_variables';
@import 'src/style/_mixins';

.player-form_container {
    height: 100%;
    width: 100%;

    .player-selection_grid {
        padding-top: 15px;

        .player_input-row {
            padding-top: 5px;
            padding-bottom: 0;

            .player_input-last-column-input {
                display: inline-block;
                width: 90%;
            }

            .delete-icon {
                cursor: pointer;
                color: $error-color;
            }
        }
    }

    .add-button_container {
        width: 83%;
        text-align: right;
    }
}