@import 'src/style/_variables';
@import 'src/style/_mixins';
.action-cell {
    display: flex;
    justify-content: flex-start;

    i.icon {
        display: initial;
        cursor: pointer !important;
    }
}

.input-cell_container {
    display: inline-block;
    max-width: 50px !important;
    max-height: 30px;

    input.input-cell{
        max-width: 50px !important;
        max-height: 30px;
    }
}