@import 'src/style/_variables';
@import 'src/style/_mixins';
.competition-content_container {
    padding: 2%;

    overflow-y: auto;
}

.no-competitions-selected-warning {
    padding: 50px;
    font-weight: 500;
    font-size: 1.5em;
}