.competition-phase_container {
    .competition-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;
        
        .custom-table_container{
            width: 80%;
        }
    }
}