// colors
$blue: rgba(0, 102, 255, 0.63);
$pink: pink;
$ligth-blue: #ADD8E6;
$black: #000000;
$white: #ffffff;
$yellow:  yellow;
$light-gray: #d3d3d3;
$red: red;

// pallete colors
$color1: rgba(0, 53, 89, 1);
$color2: rgba(7, 79, 87, 1);
$color3: rgba(7, 113, 135, 1);
$color3-90: rgba(7, 113, 135, 0.95);

$color4: rgba(255, 72, 0, 1);
$color5: rgba(255, 101, 40, 1);

$color6: rgba(0, 73, 137, 1);
$color7: rgba(4, 115, 188, 1);

// 
$primary-color: $color4;
$primary-color-hover: $color5;

$secondary-color: $color6;
$secondary-color-hover: $color7;

// main
$top-menu-height: 40px;
$top-menu-bg-color: $color1;
$top-menu-color: $white;

$app-content-max-height: calc(768px - #{$top-menu-height});

$left-menu-bg-color: $color2;
$left-menu-color: $white;
$left-menu-width: 100px;

$left-submenu-bg-color: $color3;
$left-submenu-color: $white;
$left-submenu-width: 300px;

$content-bg-color: $color3-90;
$content-color: $white;
