// colors
$blue: rgba(0, 102, 255, 0.63);
$pink: pink;
$ligth-blue: #ADD8E6;
$black: #000000;
$white: #ffffff;
$yellow:  yellow;
$light-gray: #d3d3d3;
$red: red;

// pallete colors
$color1: rgba(0, 53, 89, 1);
$color2: rgba(7, 79, 87, 1);
$color3: rgba(7, 113, 135, 1);
$color3-80: rgba(7, 113, 135, 0.80);

$color4: rgb(250, 84, 18);
$color5: rgba(255, 101, 40, 1);

$color6: rgba(0, 73, 137, 1);
$color7: rgba(4, 115, 188, 1);

// 
$primary-color: $color4;
$primary-color-hover: $color5;

$secondary-color: $color6;
$secondary-color-hover: $color7;

$error-color: $red;
// main
$top-menu-height: 40px;
$top-menu-bg-color: $color1;
$top-menu-color: $white;

$app-height: calc(100vh - #{$top-menu-height});
$app-max-height: 100vh;
$app-max-width: 100%;
$app-content-max-height: calc(#{$app-max-height} - #{$top-menu-height});

$left-menu-bg-color: $color2;
$left-menu-color: $white;
$left-menu-width: 80px;
$left-menu-font-size: 32px;
$left-menu-padding: 8px;

$left-submenu-bg-color: $color3;
$left-submenu-color: $white;
$left-submenu-width: 250px;

$content-bg-color: $color3-80;
$content-color: $white;
