@import "_variables";
@import "_mixins";

body {
    color: $content-color;
    background: $content-bg-color;
}

.header {
    color: $content-color !important;
}

button {
    &.primary {
        background-color: $primary-color !important;

        &:hover {
            background-color: $primary-color-hover !important;
        }
    }

    &.secondary {
        background-color: $secondary-color !important;

        &:hover {
            background-color: $secondary-color-hover !important;
        }
    }

    &.link {
        background-color: transparent !important;
        color: $content-color !important;
    }
}

a {
    color: $content-color !important;

    &.active.item {
        color: $primary-color !important;
        border-color: $primary-color !important;
    }
}