@import "_variables";
@import "_mixins";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    color: $content-color;
    background: $content-bg-color;
}

.header {
    color: $content-color !important;
}

button {
    &.primary {
        background-color: $primary-color !important;

        &:hover {
            background-color: $primary-color-hover !important;
        }
    }

    &.secondary {
        background-color: $secondary-color !important;

        &:hover {
            background-color: $secondary-color-hover !important;
        }
    }

    &.link {
        background-color: transparent !important;
        color: $content-color !important;
    }
}

a {
    color: $content-color !important;

    &.item {
        &:hover {
            border-color: $primary-color-hover !important;
            background-color: $primary-color-hover !important;
        }
    }

    &.active.item {
        color: $content-color !important;
        border-color: $primary-color !important;
        background-color: $primary-color !important;
    }
}