@import 'src/style/_variables';
@import 'src/style/_mixins';

.app-container {
    height: $app-max-height;
    max-height: $app-max-height;

    width: $app-max-width;
    max-width: $app-max-width;

    color: $content-color;

    .app-top-menu {
        display: block;
        height: $top-menu-height;
        min-height: $top-menu-height;

        margin-bottom: 0;
        border-radius: 0;

        background: $top-menu-bg-color;
        color: $top-menu-color;

    }

    .app-main-loader {
        vertical-align: middle;
        color: $content-color !important;
    }

    .app-central-container {
        display: flex;
        height: $app-content-max-height;
        max-height: $app-content-max-height;        
        .app-left-navigation-menu {
            border-radius: 0;
            max-width: $left-menu-width;
            margin: 0px;
            
            box-shadow: unset;

            background: $left-menu-bg-color;
            color: $left-menu-color;

            .item {
                color: $left-menu-color;
                font-size: $left-menu-font-size;
                padding: $left-menu-padding;

                &:hover {
                    color:$primary-color-hover;
                }

                &.selected-menu-item {
                    color:$primary-color-hover;
                }
            }
        }

        .app-content-container {
            display: flex;           
            justify-content: flex-start;
                      
            .app-left-subcategory-menu {
                width: $left-submenu-width;
                height: 100%;

                background: $left-submenu-bg-color;
                color: $left-submenu-color;

                padding: 10% 5% 0 10%;
            }

            .app-content {
                width: 100%;
                height: 100%;
                background: $content-bg-color;
                color: $content-color;
            }
        }
    }
}